html, body {
  background-color: #1D1D1F;
}


.cool {
  background-color: #1D1D1F;
	padding-top: 30px;
}

.f {
  font-family: Georgia, serif;
  margin-bottom: 0;
}

.f2 {
  font-family: main;
}

@font-face {
  font-family: main;
  src: url("./mainFont.ttf");
}


.b {
  box-shadow: 0 0 5px 5px #2563eb;
}

.e {
  padding: .2rem .5rem;
  margin: 0 .2rem;
  font-size: 90%;
  white-space: nowrap;
  background: #F1F1F1;
  color: #2563eb;
  text-align: center;
  border: 1px solid #E1E1E1;
  border-radius: 4px;
 }

 .m::before {
  margin-right: .5rem;
  content: "#";
  color: #ccc;
 }
  
.r {
  transform:rotate(90deg);
  
}

.p {
  border: 1px solid rgb(60, 59, 110);
	text-decoration: none;
	padding-top: 1em;
	padding-left: 1.5em;
	padding-right: 1.5em;
	padding-bottom: 0.2em;
	margin-top: 2em;
	text-align: center;
	color: #245;
	background-color: #cfcfcf;
  border-radius: 10px;
}

.gray {
  filter: grayscale(80%);
}

.bg-cool {
  background-color: #1D1D1F;
}

.text-cool {
  color: #1D1D1F;
}
p, div, h1, h2, h3, h4, h5, span{
  color: #ccc;
}

.proj:before {
	content: "";
	position: absolute;
	top: 0px;
	left: 0px;
	width: 0px;
	height: 100%;
	background: rgba(37, 99, 235, 0.25);
	transition: all 2s ease;
  border-radius: 10px;
}

.proj:hover:before {
	width: 100%;
  color: white
}


#blob {
  background-color: white;
  height: 50vh;
  aspect-ratio: 1;
  position: fixed;
  left: 50%;
  top: 50%;
  translate: -50% -50%;
  border-radius: 50%;
  background: #2563eb;
  /* background: #2563eb; */
  animation: rotate 20s infinite;
  opacity: 0.8;
  filter: blur(150px);
}


@keyframes rotate {
  from {
    rotate: 0deg;
  }
  
  50% {
    scale: 1 1.5;
  }
  
  to {
    rotate: 360deg;
  }
}

.bouncy {
  animation:bouncy 5s infinite linear;
  position:relative;
}

@keyframes bouncy {
0% {top:0em}
40% {top:0em}
43% {top:-0.9em}
46% {top:0em}
48% {top:-0.4em}
50% {top:0em}
100% {top:0em;}
}

.rtl {
  direction: rtl;
  text-align: right;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
